page-favourites {
    .empty-wishlist{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 18rem;
        }
    }
}
