<ion-header mode="ios">
  <ion-navbar color="white">

    <ion-buttons left>
      <button ion-button clear icon-only menuToggle>
        <ion-icon name="ios-menu-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{'MENU.categories' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">

  <!--refresher-->
  <ion-refresher (ionRefresh)="getData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- loading spinner -->
  <ion-row justify-content-center class="loading" *ngIf="loading">
    <ion-col col-1>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

  <!-- categories -->

      <ion-list *ngIf="categories" [ngClass]="direction">
        <ion-item *ngFor="let cat of categories" class="animated fadeIn" (click)="openCategory(cat.id)"> 
          <ion-avatar item-start>
            <img [src]="dataService.baseURL + 'containers/images/download/'+cat.image"
              onerror="this.onerror=null;this.src='assets/imgs/cart.jpg';">
          </ion-avatar>
          <ion-label>
            {{cat.name}}
          </ion-label>
        </ion-item>
      </ion-list>

</ion-content>