.center {
    img {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        box-shadow: 0 5pt 15pt 0 #ccc;
    }
}

.primary {
    color: #598bff;
}

h2 {
    font-size: 1rem;
}


.cancel {
    color: #ff708d;
}


.ok {
    color: #00d68f;
}

.custom {
    font-size: 1.2rem;
}

.row{
    margin-bottom: 1rem;
}